@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    min-height: 100vh;

    font-family: 'Inter', sans-serif;
}

p {
    font-size: 15px;
}

@media(min-width: 768px) {
    body {
        padding: 40px;
    }
}